*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100%;
    margin-top: 30px;
}

.text{
    color: #3c009d;
   font-size: 48px;
   font-weight: 700;
}

.underline{
    width: 68px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 8px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    background: #eaeaea;
    border-radius: 6px;
    padding: 20px;
}

.inputs .input input{
    border: none;
    width: 100%;
    outline: none;
    background: transparent;  
    color: #797979;
    display: block;
}

::placeholder{
    font-size: 16px;

}

label{
    padding: 10px;
    font-size: 16px;
    font-size: 600;
}

.forgot-password{
    padding-left: 1px;
    margin-top: 20px;
    color: #797979;
    font-size: 1rem;
    font-weight: 600;
}  

.forgot-password span{
    color: #3c009d;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;

}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #1c0264;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 60px;
    font-weight: 700;
    cursor: pointer;

}

.gray{
    background: #EAEAEA;
    color: #797979;
}

.secondinput{
    background-color: transparent;
    background-color: #797979;
}

.secondinputs{
    background-color: transparent;
    background-color: #797979;
}



